{% extends "home.html" %}
{% block content %}


	<form action='' method='post'>
		{{ form2.hidden_tag() }}
			<div >{{ form2.employee_id.label() }}{{ form2.employee_id() }}</div>



		{% for field in form2.errors %}
		{% for error in form2.errors[field] %}
		<div style="color:red">{{ error }}{{ form2[field].label }}</div>
		{% endfor %}
		{% endfor %}
		

			<div>{{ form2.month.label() }}{{ form2.month() }}</div>
			<div>{{ form2.year.label() }}{{ form2.year() }}</div>
			<div>{{ form2.name.label() }}{{ form2.name() }}</div>
			<div>{{ form2.designation.label() }}{{ form2.designation() }}</div>

			<div>{{ form2.dob.label() }}{{ form2.dob() }}</div>
			<div>{{ form2.doj.label() }}{{ form2.doj() }}</div>
			<div>{{ form2.basic.label() }}{{ form2.basic() }}</div>
			<div>{{ form2.vda.label() }}{{ form2.vda() }}</div>
			<div>{{ form2.others.label() }}{{ form2.others() }}</div>

			<div>{{ form2.gross.label() }}{{ form2.gross() }}</div>
			<div>{{ form2.days_pre.label() }}{{ form2.days_pre() }}</div>
			<div>{{ form2.ebasic.label() }}{{ form2.ebasic() }}</div>
			<div>{{ form2.evda.label() }}{{ form2.evda() }}</div>
			<div>{{ form2.pfwages.label() }}{{ form2.pfwages() }}</div>

			<div>{{ form2.eother.label() }}{{ form2.eother() }}</div>
			<div>{{ form2.egross.label() }}{{ form2.egross() }}</div>
			<div>{{ form2.pf.label() }}{{ form2.pf() }}</div>
			<div>{{ form2.esi.label() }}{{ form2.esi() }}</div>
			<div>{{ form2.pt.label() }}{{ form2.pt() }}</div>

			<div>{{ form2.other.label() }}{{ form2.other() }}</div>
			<div>{{ form2.tded.label() }}{{ form2.tded() }}</div>
			<div>{{ form2.netpay.label() }}{{ form2.netpay() }}</div>
			{{ form2.submit() }}
	</form>

{% endblock content %}
