{% extends "home.html" %}
{% block content %}

	<form action='' method='post'>
		{{ form.hidden_tag() }}
	<div class='container'>
		<h2 class="text-center formHead animated bounceInDown">Please Login</h2><br>
		<div>
			{{ form.username.label(class_="text-white font-weight-bold") }}
			{{ form.username(class_="form-control") }}
		</div>
		<div>
			{{ form.password.label(class_="text-white font-weight-bold") }}
			{{ form.password(class_="form-control ") }}
		</div>
		<div class="custom-control custom-switch ">	{{ form.remember(class_="custom-control-input") }}{{ form.remember.label(class_="custom-control-label" ) }}</div>
		{{ form.submit(class="btn btn-lg btn-primary btn-block loginbtn") }}
	
	<style>
		body { background: #042037; }
		.logform {  margin-top: 100px; max-width: 400px;  padding: 15px 35px 10px;  margin: 0 auto;  background-color: #fff;  border: 1px solid rgba(0,0,0,0,.1);}
		.form-control{  margin-bottom: 15px;}
		.container {  margin-top: 100px; width:50%; margin:auto;}
		.reset-links {  margin-top: 20px;  margin-bottom: 10px;}
	</style>
	
</div>
</form>
{% endblock content %}
