<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='main2.css') }}">
</head>
<body>
<div class='main'>
    <div class='details'>
		<img src="{{ url_for('static', filename='img.png') }}" style='height:150px;width:150px;padding:10px'>
        <section class='name-address'>
            <p><h1>Sri Murugan Ghee Store</h1><p>
            <address>4-5-822, Badi Chowdi, Opp Sultan Bazar PS</address>
            <address>Hyderabad 500 027 TS Ph: 040-24650411</address>
            <p>This pay Slip for the month of <b><i>{{ emp.Month }}-{{ emp.Year }}</i></b></p>
        </section>
    </div>
    <table class='employee'>
        <tr>
            <td>Employee Number</td>
            <td style='text-align:center'><b>{{ emp.Employee_id }}<b></td>

        </tr>
        <tr>
            <td>Employee Name</td>
            <td style='font-size: 14px'>{{ emp.Name }}</td>

        </tr>
        <tr>
            <td>Department</td>
            <td>{{ empd.Department }}</td>

        </tr>
        <tr>
            <td>Designation</td>
            <td><b>{{ emp.Designation }}</b></td>

        </tr>
        <tr>
            <td>Location</td>
            <td>{{ emp.Location }}</td>

        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{ emp.Date_of_Birth }}</td>

        </tr>
        <tr>
            <td>Date of Joining</td>
            <td>{{ emp.Date_of_Joining }}</td>
        </tr>
    </table>
    <table class='emp'>
        <tr>
            <td>P F UAN No</td>
            <td id='center'>{{ empd.PF_UAN_No }}</td>
        </tr>
        <tr>
            <td>E S I No</td>
            <td id='center'>{{ empd.ESI_No }}</td>
        </tr>
        <tr>
            <td>P A N</td>
            <td id='center'>{{ empd.PAN_No }}</td>
        </tr>
        <tr>
            <td>Aadhar No</td>
            <td id='center'>{{ empd.Aadhar_No }}</td>
        </tr>
        <tr>
            <td><span  style='font-size: 14px'>Total Days</span><span style='float:right'><b>26</b></span></td>
            <td><span  style='font-size: 14px'>Total CL</span><span style='float:right;padding-right:4px'><b>{{ empd.Total_CL }}</b></span></td>
        </tr>
        <tr>
            <td><span  style='font-size: 14px'>Absent</span><span style='float:right'><b>{{ 26 - emp.Days_present }}</b></span></td>
            <td><span  style='font-size: 14px'>Allowed</span><span style='float:right;padding-right:4px'><b>{{ emp.Allowed_CL }}</b></span></td>
        </tr>
        <tr>
            <td><span  style='font-size: 14px'>Payable</span><span style='float:right'><b>{{ emp.Days_present + emp.Allowed_CL  }}</b></span></td>
            <td><span  style='font-size: 14px'>Balance</span><span style='float:right;padding-right:4px'><b>{{ emp.Remaining_CL }}</b></span></td>
        </tr>
    </table>
    <table class = 'employee_sal'>
		<tr>
			<th>Salary Components</th>
			<th><b>Actuals</b></th>
			<th>Earnings (A)</th>
			<th colspan=2><b>Total Deductions</b></th>
		</tr>
		<tr>
			<td>Basic</td>
			<td id='right'>{{  "{:.2f}".format(emp.Basic) }}</td>
			<td id='right'>{{  "{:.2f}".format(emp.E_Basic) }}</td>
			<td>E P F</td>
			<td id='right'>{{ "{:.2f}".format(emp.PF) }}</td>
		</tr>
		<tr>
			<td>V D A</td>
			<td id='right'>{{  "{:.2f}".format(emp.VDA) }}</td>
			<td id='right'>{{  "{:.2f}".format(emp.E_VDA) }}</td>
			<td>E S I</td>
			<td id='right'>{{ "{:.2f}".format(emp.ESI) }}</td>
		</tr>
		<tr>
			<td>C C A</td>
			<td id='right'>{{ emp.CCA }}</td>
			<td id='right'>{{ emp.CCA }}</td>
			<td>P T</td>
			<td id='right'>{{  "{:.2f}".format(emp.PT) }}</td>
		</tr>
		<tr>
			<td>Others</td>
			<td id='right'> {{ "{:.2f}".format(emp.Others) }}</td>
			<td id='right'>{{  "{:.2f}".format(emp.E_Others) }}</td>
			<td>Others</td>
			<td id='right'>{{  "{:.2f}".format(emp.Other) }}</td>
		</tr>
		<tr style='height:25px'>
			<td><b>Gross Total</b></td>
			<td id='right'><b>{{ "{:.2f}".format(emp.Gross) }}</b></td>
			<td id='right'><b>{{  "{:.2f}".format(emp.E_Gross) }}</b></td>
			<td><b></b></td>
			<td id='right'><b>{{ "{:.2f}".format(emp.T_Ded) }}</b></td>
		</tr>
    </table>
    <div class='acc_det'>
		<h3>NET SALARY PAYABLE (A - B): &emsp; {{ "{:.2f}".format(emp.Net_Pay) }}</h3>
		<address>Net Salary Credited to your bank a/c No: {{ empd.Acc_No }}</address>
		<address>{{ empd.Bank_branch }}</address>
		<address>IFS Code: {{ empd.IFS_Code }}</address>
    </div>


    <div class='seal'>
        <br><address>Signature & Seal</address>
    </div>
<div>
<br><br><br>
<button class='hide-print' onclick="window.print()">Print</button>
</body>
</html>
