{% extends "home.html" %}
{% block content %}

<div class='container' style='width:75%;margin:2% auto'>
<div class="accordion" id="accordionExample">
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!----------------------------------------------------------------	FACTORY  -------------------------------------------------------------------------------------->
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			<span class="d-flex justify-content-start font-weight-bold">FACTORY</span><span class="font-weight-bold d-flex justify-content-end">{{ fac_cnt }}</span>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show table-responsive-xl" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
		 <table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">EMPLOYEE ID</th>
			  <th scope="col">NAME</th>
			  <th scope="col">DEPARTMENT</th>
			  <th scope="col">DESIGNATION</th>
			  <th scope="col">DATE OF JOINING</th>
			</tr>
		  </thead>
		  <tbody>
			  {% for emp in  fac%}
			<tr class="table-active">
			  <th scope="row">{{ emp.Employee_id }}</th>
			  <td>{{ emp.Name  }}</td>
			  <td>{{ emp.Department }}</td>
			  <td>{{ emp.Designation }}</td>
			  <td>{{ emp.Date_of_Joining }}</td>
			</tr>
				{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
  </div>
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!----------------------------------------------------------------	ADMINISTRATION  --------------------------------------------------------------------------->
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<span class="d-flex justify-content-start font-weight-bold">ADMINISTRATION</span><span class="font-weight-bold d-flex justify-content-end">{{ adm_cnt }}</span>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
		 <table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">EMPLOYEE ID</th>
			  <th scope="col">NAME</th>
			  <th scope="col">DEPARTMENT</th>
			  <th scope="col">DESIGNATION</th>
			  <th scope="col">DATE OF JOINING</th>
			</tr>
			</tr>
		  </thead>
		  <tbody>
			  {% for emp in  adm%}
			<tr class="table-active">
			  <th scope="row">{{ emp.Employee_id }}</th>
			  <td>{{ emp.Name  }}</td>
			  <td>{{ emp.Department }}</td>
			  <td>{{ emp.Designation }}</td>
			  <td>{{ emp.Date_of_Joining }}</td>
			</tr>
				{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
  </div>
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!---------------------------------------------------	MARKETING DEPARTMENT  ------------------------------------------------------------------------------->
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span class="d-flex justify-content-start font-weight-bold">MARKETING DEPARTMENT</span><span class="font-weight-bold d-flex justify-content-end">{{ mkt_cnt }}</span>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
		 <table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">EMPLOYEE ID</th>
			  <th scope="col">NAME</th>
			  <th scope="col">DEPARTMENT</th>
			  <th scope="col">DESIGNATION</th>
			  <th scope="col">DATE OF JOINING</th>
			</tr>
			</tr>
		  </thead>
		  <tbody>
			  {% for emp in  mkt%}
			<tr class="table-active">
			  <th scope="row">{{ emp.Employee_id }}</th>
			  <td>{{ emp.Name  }}</td>
			  <td>{{ emp.Department }}</td>
			  <td>{{ emp.Designation }}</td>
			  <td>{{ emp.Date_of_Joining }}</td>
			</tr>
			</tr>
				{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}


