{% extends "stat.html" %}
{% block show %}

<div class='container' style=''>
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!----------------------------------------------------------------	TOTAL  ------------------------------------------------------------------------------------------>
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<div><span class="d-flex justify-content-start font-weight-bold">TOTAL</span><span class="font-weight-bold d-flex justify-content-end">{{  "{:.2f}".format(emp_tot_sal) }}</span></div>
<div class="accordion" id="accordionExampleTwo">
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!----------------------------------------------------------------	FACTORY  -------------------------------------------------------------------------------------->
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
  <div class="card">
    <div class="card-header" id="headingTwoOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwoOne" aria-expanded="true" aria-controls="collapseTwoOne">
			<span class="d-flex justify-content-start font-weight-bold">FACTORY</span><span class="font-weight-bold d-flex justify-content-end">{{  "{:.2f}".format(fac_tot) }}</span>
        </button>
      </h2>
    </div>
    <div id="collapseTwoOne" class="collapse show table-responsive-xl" aria-labelledby="headingTwoOne" data-parent="#accordionExampleTwo">
      <div class="card-body">
		 <table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">EMPLOYEE ID</th>
			  <th scope="col">NAME</th>
			  <th scope="col">DAYS PRESENT</th>
			  <th scope="col">NET PAY</th>
			</tr>
		  </thead>
		  <tbody>
			  {% for emp in  fac%}
			<tr class="table-active">
			  <th scope="row">{{ emp.Employee_id }}</th>
			  <td>{{ emp.Name  }}</td>
			  <td>{{ emp.Days_present }}</td>
			  <td>{{ "{:.2f}".format(emp.Net_Pay) }}</td>
			</tr>
				{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
  </div>
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!----------------------------------------------------------------	ADMINISTRATION  --------------------------------------------------------------------------->
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
  <div class="card">
    <div class="card-header" id="headingTwoTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
			<span class="d-flex justify-content-start font-weight-bold">ADMINISTRATION</span><span class="font-weight-bold d-flex justify-content-end">{{ "{:.2f}".format(adm_tot) }}</span>
        </button>
      </h2>
    </div>
    <div id="collapseTwoTwo" class="collapse" aria-labelledby="headingTwoTwo" data-parent="#accordionExampleTwo">
      <div class="card-body">
		 <table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">EMPLOYEE ID</th>
			  <th scope="col">NAME</th>
			  <th scope="col">DAYS PRESENT</th>
			  <th scope="col">NET PAY</th>
			</tr>
		  </thead>
		  <tbody>
			  {% for emp in  adm%}
			<tr class="table-active">
			  <th scope="row">{{ emp.Employee_id }}</th>
			  <td>{{ emp.Name  }}</td>
			  <td>{{ emp.Days_present }}</td>
			  <td>{{ "{:.2f}".format(emp.Net_Pay) }}</td>
			</tr>
				{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
  </div>
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!---------------------------------------------------	MARKETING DEPARTMENT  ------------------------------------------------------------------------------->
	<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
  <div class="card">
    <div class="card-header" id="headingTwoThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoThree" aria-expanded="false" aria-controls="collapseTwoThree">
          <span class="d-flex justify-content-start font-weight-bold">MARKETING DEPARTMENT</span><span class="font-weight-bold d-flex justify-content-end">{{ "{:.2f}".format(mkt_tot) }}</span>
        </button>
      </h2>
    </div>
    <div id="collapseTwoThree" class="collapse" aria-labelledby="headingTwoThree" data-parent="#accordionExampleTwo">
      <div class="card-body">
		 <table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">EMPLOYEE ID</th>
			  <th scope="col">NAME</th>
			  <th scope="col">DAYS PRESENT</th>
			  <th scope="col">NET PAY</th>
			</tr>
		  </thead>
		  <tbody>
			  {% for emp in  mkt%}
			<tr class="table-active">
			  <th scope="row">{{ emp.Employee_id }}</th>
			  <td>{{ emp.Name  }}</td>
			  <td>{{ emp.Days_present }}</td>
			  <td>{{ "{:.2f}".format(emp.Net_Pay) }}</td>
			</tr>
			</tr>
				{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock show %}


