body{
}

.main{
    height:210mm;
    width:148mm;
}

.name-address{
    float:right;
    padding:5px;
    width: 65%;
    text-align:center;
}

.name-address address{
    font-size:20px;
}

.employee{
    float:left;
    border:3px solid;
    width:94mm;
    height:25%;
}

.employee, .employee td{
    padding:1px 5px;
    border-right:3px solid;
    border-collapse: collapse;
}


.last,.last td{
    border:0;
    border-collapse:collapse;
}

.employee #last{
    text-align:center;
    width:50%;
}


.emp{
    float:right;
    font-size:15px;
    border:3px solid;
    border-left:0;
    width:54mm;
    height:25%;
}

.emp #center{
    text-align:center;
}


.employee_sal{
    margin:auto;
    margin-top: 210px;
    border:3px solid;
    width:148mm;
    height:25%;
}

.employee_sal, .employee_sal td,th{
    border:2px solid;
    border-collapse: collapse;
    padding:1px 5px;
}

.employee_sal #right{
    text-align:right;
}

.acc_det{
    text-align:center;
}

.seal{
    float: right;
    padding:0 30px;
}

button{
    margin:0 30%;
}

.hide-print{
    width:40%;
    background-color:green;
    color:white;
    border:1px solid green;
    border-radius: 50px;
    height:25px;
}

.hide-print:hover{
    opacity:0.7;
}

@media print {
  .hide-print {
    display: none;
  }
}
