<!Doctype html>
<html>
<head>
    <title>My Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<style>
    body{
        background-color:#379450;
        }
</style>

<body>
    <div class="container" style="width:60%; margin:auto; margin-top:2%;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
              <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ msg }}
              </div>
            {% endfor %}
        {% endif %}
    {% endwith  %}
   {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
        </div>
        {% endfor %}
    {% endfor %}

        <form action="/" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.cit_nam(class_ = 'form-control', placeholder = 'Enter the City Name') }}
            </div>
            <div class="d-flex justify-content-center">
                {{ form.submit(class_ = 'btn btn-lg btn-primary') }}
            </div>
        </form>
        <div style="margin-top:1%">
        {% for i in cities %}
            <div class="card bg-light" style="margin:1%">
              <h5 class="card-header">{{ i.city.capitalize() }}</h5>
              <div class="card-body">
                <h5 class="card-title">
                      <span style="margin-left: 15%">Temperature: {{ i.temperature }} &#176;C</span>
                      <span style="float:right; margin-right: 15%">{{ i.description.capitalize() }}</span>
                </h5>
                  <p class="card-text">
                      <span style="margin-left: 15%">Humidity: {{ i.humidity }}%</span>
                      <span style="float:right; margin-right: 15%">Pressure: {{ i.pressure }}hPa</span>
                  </p>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>